<div class="container">
<div class="container-forgott-password">
  <div class="forgot-password-content">
  <h3 class="forgot-password-title">PASSWORD RECOVERY</h3>
  <p class="forgot-password-middle">For password recovery enter your current email:</p>
    <mat-form-field >
      <input class = "forgot-password-input" matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="forgot-password-button">
        <button mat-button>SEND</button>
    </div>
  </div>
</div>
</div>
