.container
{
  display: flex;
  justify-content: center;
  height: 100%;
}
.container-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    box-shadow: 10px 15px 35px -28px rgba(0,0,0,0.75);
    background-color: #F7F6FF;
    transition: all 0.8s ease-in-out;
  }
  .container-settings:hover {
    box-shadow: 10px 15px 35px -28px rgba(0,0,0,0.75);
    background-color: #F4F3FF;
    transition: all 0.8s ease-in-out;
  }
  .settings-content
  {
    flex-direction: column;
    display: flex;
  }
  .settings-title
  {
    margin-top: 25%;
  }
  .mat-radio-group{
    display: contents;
    line-height: 2;
  }
  .mat-raised-button{
    margin: 3px 0px 3px 0px;
  }