.line-1
{
    display: flex;
    justify-content: space-around;
    padding-top:10px; 
}
.avatar
{
    width: 35%;
     
}

.button-photo
{
    background-color: #CBC7C7;
}
.information-block
{
    /* background-color: #827414; */
    width: 55%;
    
}
.avatar-card
{
    box-shadow: 10px 15px 35px -28px rgba(0,0,0,0.75);
}
  
.header-avatar 
{
    background-image: url('https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg');
    background-size: cover;
  
}

  .label-block
  {
      color:#000000;
      padding-left: 10%;
      padding-top: 3%;
      
  }
  mat-grid-tile
  {
      background-color: #35D2AB;
      border-radius: 4px;
  }

  .line-2
  {
    display: flex;
    justify-content: space-around;
    padding-left:18px; 
    padding-right:18px;
    padding-top: 25px;
    max-height: 200px;
    
  }
  .photo-item
  {
      width: 24%;
      
  }
  .example-card
  {
    
    background-size: cover;
  }

 .photo {
     height: 200px;
     background-size: cover;
     background-position: center;
     margin-top: -16px;
     border-radius: 10px 10px 0 0;
     margin-bottom: 16px;
 }

 .photo-item .mat-card{
     padding: 0 0px 16px !important;
 }

 .photo-item .mat-card .photo {
     border-radius: 5px;
 }

 .mat-card-content,
 .mat-card-actions {
     padding: 0 10px !important;
 }

 .line-2[_ngcontent-ari-c1] {
     max-height: auto !important;
 }

 .mat-card-actions {
     margin: 0 !important;
 }

mat-sidenav-container
{
    height: 100%;
}
mat-sidenav
{
    box-shadow: 10px -2px 35px -28px rgba(0,0,0,0.75);
    width: 18%;
}

mat-form-field {
    padding-left: 26.5%;
}

