.line-1
{
    display: flex;
    justify-content: space-around;
    padding-top:10px; 
}
.avatar
{
    width: 35%;
     
}

mat-card-actions
{
    display: flex;
}


.information-block
{
    /* background-color: #827414; */
    width: 55%;
    
}
.avatar-card
{
    box-shadow: 10px 15px 35px -28px rgba(0,0,0,0.75);
}
  
.header-avatar 
{
    border-radius:50%; 
    background-size: cover;
  
}

  .label-block
  {
      color:#000000;
      padding-left: 10%;
      padding-top: 3%;
      
  }
  mat-grid-tile
  {
      background-color: #35D2AB;
      border-radius: 4px;
  }


  /* Posts */
  .line-2
{
    display: flex;
    justify-content: space-around; 
    padding-top: 60px; 
}
.post-item
{
    height: 200px;
    width: 24%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
      
}

.example-card
{
    width: 88%;
}
.photo
{
    
    min-height: 200px;
    border-radius: 10px 10px 0 0;
    
}
.button-photo
{
    background-color: #CBC7C7;
}
.button-photo-gray
{
    background-color: #CBC7C7;
    transition: 0.7s;
}
.button-photo-red
{
    background-color: #BC1814;
    transition: 0.7s;
}






 mat-sidenav-container
{
    height: 100%;
}
mat-sidenav
{
    box-shadow: 10px -2px 35px -28px rgba(0,0,0,0.75);
    width: 18%;
}

mat-form-field {
    padding-left: 26.5%;
} 

.item-list:hover
{
     background-color: #CBC7C7;
     text-decoration: none;
     transition: background-color .3s;

}
.item-list
{
     text-decoration: none;
}

