.line-1
{
    display: flex;
    justify-content: space-around;
    padding-top:10px; 
}
.avatar
{
    width: 35%;
     
}

.button-photo
{
    background-color: #CBC7C7;
}
.information-block
{
    /* background-color: #827414; */
    width: 55%;
    
}
.avatar-card
{
    box-shadow: 10px 15px 35px -28px rgba(0,0,0,0.75);
}
  
.header-avatar 
{
    background-image: url('https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg');
    background-size: cover;
  
}

  .label-block
  {
      color:#000000;
      padding-left: 10%;
      padding-top: 3%;
      
  }
  mat-grid-tile
  {
      background-color: #35D2AB;
      border-radius: 4px;
  }

  .line-2
  {
    display: flex;
    justify-content: space-around;
    padding-left:18px; 
    padding-right:18px;
    padding-top: 25px;
    max-height: 200px;
    
  }
  .photo-item
  {
      width: 24%;
      
  }
  .example-card
  {
    
    background-size: cover;
  }

 .photo {
     height: 200px;
     background-size: cover;
     background-position: center;
     margin-top: -16px;
     border-radius: 10px 10px 0 0;
     margin-bottom: 16px;
 }

 .photo-item .mat-card{
     padding: 0 0px 16px !important;
 }

 .photo-item .mat-card .photo {
     border-radius: 5px;
 }

 .mat-card-content,
 .mat-card-actions {
     padding: 0 10px !important;
 }

 .line-2[_ngcontent-ari-c1] {
     max-height: auto !important;
 }

 .mat-card-actions {
     margin: 0 !important;
 }



 mat-sidenav-container
{
    height: 100%;
}
mat-sidenav
{
    box-shadow: 10px -2px 35px -28px rgba(0,0,0,0.75);
    width: 18%;
}

mat-form-field {
    padding-left: 26.5%;
}

.item-list:hover
{
     background-color: #CBC7C7;
     text-decoration: none;
     transition: background-color .3s;

}
.item-list
{
     text-decoration: none;
}



/* Preloader */
.preloader
{
    margin-top: 30%;
}
.sk-wave {
    
    width: 4em * 1.5;
    height: 4em;
    margin: auto;
    text-align: center;
    font-size: 1em;
}

.sk-rect {
    background-color: rgb(3, 3, 3);
    height: 100%;
    width: .5em;
    display: inline-block;
    animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
    ;
}


@keyframes sk-wave-stretch-delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
    }
}

.sk-wave {
    width: 3.5em;
    height: 2.3em;
    margin: auto;
    text-align: center;
    font-size: 1em;
}

.sk-rect-1 {
    animation-delay: -1.2s;
    
}

.sk-rect-2 {
    animation-delay: -1.1s;
    margin-left: 3px;
}

.sk-rect-3 {
    animation-delay: -1s;
    margin-left: 3px;
}

.sk-rect-4 {
    animation-delay: -0.9s;
    margin-left: 3px;
}

.sk-rect-5 {
    animation-delay: -0.8s;
    margin-left: 3px;
}

