<mat-sidenav-container class="example-container">
  <mat-sidenav [mode]="mode.value" opened disableClose>
    <mat-form-field floatLabel="auto">
      <mat-label>Search</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-list>
      <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
      </a>
      <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
      </a>
      <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="line-1">
        <div class="flex-1 avatar">
          <mat-card class="avatar-card">
            <mat-card-header>
              <div mat-card-avatar class="header-avatar"></div>
              <mat-card-title>IRON MAN </mat-card-title>
              <mat-card-subtitle>SUPERHEROY</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cs7.pikabu.ru/post_img/big/2018/04/08/5/152317364219865183.jpg">
          </mat-card>
        </div>
        <div class="flex-2 information-block">
          <mat-list>
            <mat-list-item href="#" class="item-list">
              <mat-icon matListIcon>language</mat-icon>
              <h3 matLine>Country</h3>
              <p matLine>USA</p>
            </mat-list-item>
            <mat-list-item href="#" class="item-list">
              <mat-icon matListIcon>cake</mat-icon>
              <h3 matLine>Birtday</h3>
              <p matLine>00.00.0000</p>
            </mat-list-item>
            <mat-list-item href="#" class="item-list">
              <mat-icon matListIcon>work</mat-icon>
              <h3 matLine>Place of work</h3>
              <p matLine>Marvel</p>
            </mat-list-item>
            <mat-list-item href="#" class="item-list">
              <mat-icon matListIcon>error_outline</mat-icon>
              <h3 matLine>Marital status</h3>
              <p matLine>Actively looking</p>
            </mat-list-item>
            <mat-list-item href="#" class="item-list">
              <mat-icon matListIcon>mood</mat-icon>
              <h3 matLine>Interests</h3>
              <p matLine>Save the world, technology, travel, work, girls, entertainment</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="line-2">
         <div class="photo-item">
          <mat-card class="example-card">
            <div class="photo"
              style="background-image: url(https://optim.kalashnikov.media/1080/https://cdn1.kalashnikov.media/prod/0c7af66b-8ba8-4d30-8b8c-a98ba47cc058)">
            </div>
            <mat-card-content>
              <p>
                With friend!
              </p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button class="button-photo">
                <mat-icon  (click)="like1()" matListIcon>thumb_up</mat-icon>
                <p *ngIf="condition1">
                    1
                  </p>
                  <p *ngIf="!condition1">
                    0
                  </p>
              </button>
              <button mat-button class="button-photo">SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="photo-item">
          <mat-card class="example-card">
            <div class="photo"
              style="background-image: url(https://optim.kalashnikov.media/1080/https://cdn1.kalashnikov.media/prod/0c7af66b-8ba8-4d30-8b8c-a98ba47cc058)">
            </div>
            <mat-card-content>
              <p>
                With friend!
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="button-photo"><mat-icon  (click)="like()" matListIcon>thumb_up</mat-icon>
                  <p *ngIf="condition">
                      1
                    </p>
                    <p *ngIf="!condition">
                      0
                    </p>
                    
                </button>
                <button mat-button class="button-photo">SHARE</button>
              </mat-card-actions>
          </mat-card>
        </div>
        <div class="photo-item">
          <mat-card class="example-card">
            <div class="photo"
              style="background-image: url(https://beztabu.net/uploads/770x433_DIR/media_news/2018/04/bb22ff8371aa50fe78e01fee556951f92aa83a42.jpg)">
            </div>
            <mat-card-content>
              <p>
                Stupid people
              </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button class="button-photo">
                  <mat-icon  (click)="like()" matListIcon>thumb_up</mat-icon>
                  <p *ngIf="condition">
                      1
                    </p>
                    <p *ngIf="!condition">
                      0
                    </p>
                </button>
                <button mat-button class="button-photo">SHARE</button>
              </mat-card-actions>
          </mat-card>
        </div>
        <div class="photo-item">
          <mat-card class="example-card">
            <div class="photo"
              style="background-image: url(https://cdn.defenseone.com/media/img/upload/2019/02/07/IMG_4170/defense-one-featured.jpg)">

            </div>
            <mat-card-content>
              <p>
                After New Year
              </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button class="button-photo">
                  <mat-icon  (click)="like()" matListIcon >thumb_up</mat-icon>
                  <p *ngIf="condition">
                      1
                    </p>
                    <p *ngIf="!condition">
                      0
                    </p>
                </button>
                <button mat-button class="button-photo">SHARE</button>
              </mat-card-actions>
          </mat-card>
        </div> 

        <!--<div *ngFor="let photos in PhotoIt">{{photos}}</div>-->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
