<mat-form-field floatLabel="auto">
    <mat-label>Search</mat-label>
    <input matInput required>
</mat-form-field>
<mat-list>
    <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
    </a>
    <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
    </a>
    <a mat-list-item href="#" class="item-list">
        <img matListAvatar src="https://ananasposter.ru/image/catalog/postermax/art/1/26.jpg">
        <h3 matLine>Name</h3>
        <p matLine>Content</p>
    </a>
</mat-list>