.line
{
    display: flex;
    justify-content: space-around;  
}

.item
{
    background-size: cover;
    height: 200px;
     
     background-size: cover;
     background-position: center;
     margin-top: -16px;
     border-radius: 10px 10px 0 0;
     margin-bottom: 56px; 
}
.example-card
{
    width: 80%;
}